
    <div>
        <p> This is a completely independent static web fragment.
            I can update this at any time and not affect 
            any of the rest of this page. Additionally, the code 
            base is smaller and easier to maintain, allowing teams
            to implement lean practices and build a robust, 
            scalable application.</p>

            <p>
                We can combine this technique with some client-side
                rendering.. I'll have to implement that soon.
            </p>
    </div>
