.app-shell {
  /* background-color: grey; */
  font-size: calc(10px + 2vmin);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white; 
}


.app-header {
  background-color: #282c34;
  justify-content: flex-start;
  color: white;
  flex: 1 75px;
  /* height: 100px; */
  width: 100%;
  /* flexbox for header content */
  display: flex;
  flex-direction: row;
}

.header-icon {
  color: lightblue;
  width: calc(1500px / 20);
  height: calc(2100px / 20);
  margin: 15px 20px;
}

.header-icon:hover {
  cursor: pointer;
}

.app-content {
  flex: 5 100px;
  width: calc(100% - 40px);
  align-self: flex-start;
  margin: 0px 20px 0px 20px;
  background-color: white;
}

.app-footer {
  background-color: #282c34;
  color: white;
  flex: .1 30px;
  margin-top: auto;
  width: 100%;
}

.App-link {
  color: #61dafb;
}