.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-shell{
  /* background-color: grey; */
  font-size: calc(10px + 2vmin);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}


.app-header {
  background-color: #282c34;
  justify-content: start;
  color: white;
  flex: 1 75px;
  /* height: 100px; */
  width: 100%;
  /* flexbox for header content */
  display: flex;
  flex-direction: row;
}

.header-image {
  border-radius: 50%;
  border: 2px solid black;
  width: calc(1500px / 20);
  height: calc(2100px / 20);
  margin: 15px 20px;
}

.app-content {
  flex: 5 100px;
  width: calc(100% - 40px);
  align-self:flex-start;
  margin: 0px 20px 0px 20px;
  background-color:white;
}

.app-footer {
  background-color: #282c34;
  color: white;
  flex: .1;
  margin-top: auto;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
