.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-shell{
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 100%;
  height: 100%;  
}

header.App-shell {
  background-color: #282c34;
  justify-content: start;
  color: white;
  height: 100px;
}

footer.App-shell {
  background-color: #282c34;
  color: white;
  height: 50px;
  margin-top: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
